.post_list {
  list-style-type: none;
}

body {
  background-image: url(/public/body-background.png);
  background-repeat: repeat;
}

body .pagination-item {
  background-color: white;
  border-style: solid;
  border-radius: .25rem;
}
