<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <a href="/">
      <picture>
        <source srcset="/public/img/android-chrome-192x192.webp" type="image/webp">
        <source srcset="/public/img/android-chrome-192x192.png" type="image/png">
        <img src="/public/img/android-chrome-192x192.png" alt="Oops, this isn't right!">
      </picture>
    </a>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url or page.url contains "category" and node.title == "Categories" %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a> -->
    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub</a>
    <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}.
    </p>
  </div>
</div>
