<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-item">

            <a href="/"><img src="/static/img/android-chrome-192x192.png" /></a>
        </div>
    </div>

    <br />
    <br />
    {% for i in site.urls %}
      <a class="btn btn-primary btn-lg text-center" href="{{ i.url }}">{{ i.text }}</a>
    <br /><br />{% endfor %}
</div>
</div>
