<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-item">
            <a class="center-block" href="/"><img src="/static/img/android-chrome-192x192.png" /></a>
        </div>
    </div>

    <br />
    <br />
    <div style="margin-right: 50px; margin-left: 50px;">
      {% for i in site.urls %}
        <a class="btn btn-primary btn-lg center-block" href="{{ i.url }}">{{ i.text }}</a>
      <br /><br />{% endfor %}
    </div>
</div>
</div>
